

  <div style="padding: 10px; border-style: solid; border-color:#9F7713 ">
  </div>
  <div align="middle">
  <!--<img id="buster" src="/assets/BulkBuster.png"  width="90%" >-->
  </div>
    <%
    # Successes
       # Campaings with errors
       # Processing time


    %>
  </div>
  <div style="padding: 10px; border-style: solid; border-color:#9F7713 ">
  </div>
