<!DOCTYPE html>
<html>
<head>
  <title>BulkBuster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="shadow">
      <button class="cmn-toggle-switch cmn-toggle-switch__htx">
        <span>toggle menu</span>
      </button>
    </header>

    <ul id="menu">
      <b>Advertisers</b>
      <hr>
      <li><a class="menu-option" href="/advertiser_bulk_busters/new">Advertisers</a></li>
      <li><a class="menu-option" href="/advertiser_promo_number_bulk_busters">Advertiser Promo Numbers</a></li>
      <li><a class="menu-option" href="/campaign_bulk_busters">Advertiser Campaigns</a></li>
      <br>
      <b>Affiliates</b>
      <hr>
      <li><a class="menu-option" href="/affiliate_promo_numbers">Affiliate Promo Numbers</a></li>
    </ul>

    <div id="content">
        <%= yield %>
    </div>

</body>
</html>
